h2 {
    margin: 16px;
}

body {
    background-color: #F9F7F7;
}

img {
    max-width: 100%;
}

#logo {
    font-family: "Caveat", serif;
    font-size: 32px;
}

* {
    font-family: 'Comfortaa', 'Arial', 'Helvetica', sans-serif;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

#footer {
    background-color: #212529;
    color: white;
    padding: 16px;
}

#index {
    margin-top: 64px;
    margin-bottom: 64px;
}

.card {
    margin-top: 16px;
    margin-bottom: 32px;
}

#diagram {
    margin-top: 16px;
    margin-bottom: 32px;
}