{% extends 'base.html' %}

{% block title %}
    Gde moi den`gi
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <h3>
                    Контролируйте свои расходы ежемесячно при помощи Gde moi den`gi
                </h3>
                <p>
                    <b>
                        С помощью диаграмм расходов можно узнать, на что уходит большая часть семейного дохода
                        и с чем стоит завязать!
                    </b>
                </p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-6" id="diagram">
                <canvas id="myChart" width="350" height="350"></canvas>
                <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Отель', 'Билеты', 'Питание', 'Сувениры', 'Одежда', 'Экскурсии'],
                            datasets: [{
                                data: [15500, 7800, 10360, 3280, 2999, 5499],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        }
                    });
                </script>

            </div>

        </div>
    </div>
{% endblock %}