{% extends 'base.html' %}

{% block title %}
    Gde moi den`gi
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <h3>
                    Контролируйте свои расходы ежемесячно при помощи Gde moi den`gi
                </h3>
                <p>
                    <b>
                        С помощью диаграмм расходов можно узнать, на что уходит большая часть семейного дохода
                        и с чем стоит завязать!
                    </b>
                </p>
            </div>
            <div class="col-md-7 col-sm-6">
                <img src="{{ url_for('static', filename='images/diagrams/example.png') }}"
                     class="img-fluid rounded"
                     alt="Диаграмма расходов"
                >
            </div>
        </div>
    </div>
{% endblock %}