{% extends 'base.html' %}

{% block title %}
    Мои расходы
{% endblock %}

{% block content %}
    <h1 class="mb-5">Мои расходы</h1>
    {% if current_user.is_authenticated %}
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 gy-4">
            {% for user_cost in user_costs %}
                <div class="col-lg-5 col-md-4 col-sm-6 col-xs-4">
                    {% include 'cost-list.html' %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 id="index" class="mb-5">
            <a href="{{ url_for('register') }}">Зарегистрируйтесь</a> или <a href="{{ url_for('login') }}">войдите</a>,
            чтобы добавить и просмотреть свои расходы
        </h2>
    {% endif %}
{% endblock %}