{% extends 'base.html' %}

{% block title %}
    {{ user_cost.name.capitalize() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ user_cost.name }}:</h1>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6" id="diagram">
                <canvas id="myChart" width="350" height="350"></canvas>
                <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: {{ values }},
                            datasets: [{
                                data: {{ values }},
                                backgroundColor: [
                                    'rgba({{ colors[0] }})',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        }
                    });
                </script>

            </div>
            <div class="col-lg-6 col-md-3 col-sm-6">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for item in user_cost['items'] %}
                            <li class="list-group-item">
                                <span>{{ item.title }}: {{ item.value }} ₽</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col">
                <h3>
                    Добавить расходы:
                </h3>
                <form action="{{ url_for('get_cost', cost_id=cost_id) }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Название</span>
                        </div>
                        <input type="text"
                               id="title"
                               name="title"
                               class="form-control"
                               aria-label="Название расхода"
                               aria-describedby="basic-addon1">
                        {% if form.title.errors %}
                            <ul class="errors">
                                {% for error in form.title.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Стоимость</span>
                        </div>
                        <input type="number"
                               min="1"
                               id="value"
                               name="value"
                               class="form-control"
                               placeholder="0"
                               aria-label="Количество">
                        <div class="input-group-append">
                            <span class="input-group-text">₽</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}